##### `Nom et prenom :`
##### `Numéro de groupe:`

# **Résolution de problèmes à l'aide de la bibliothèque Pandas**

Ce cahier de notes présente une série d'exercices à résoudre en utilisant les fonctionnalités du package ou de la bibliothèque `pandas`. Chaque exercice doit être résolu à la suite de chaque énoncé, en expliquant de façon claire et concise les étapes utilisées pour y répondre. Les exercices doivent impérativement être résolus à l'aide des fonctions disponibles dans `pandas` qui sont optimisées pour les opérations sur des data frames (ne pas utiliser d'opérations non optimisées, comme des boucles sur des colonnes ou des lignes).

## **Création de séries et de data frames**

### `Exercice 1`

Créer une liste (a) de nombres entiers entre 0 et 2000, espacés de 2, et répondre aux questions suivantes :

- Créer une série (b) (avec les indices par défaut) à partir de la liste (a) et déterminer le type d'objet, la taille de la série et les indices de la série. Les résultats doivent être présentés dans un tuple nommé « résultats_serie ».
- Créer un data frame (c) (avec les indices par défaut) à partir de la liste (a) et déterminer le type d'objet, la taille du data frame et les indices du data frame. Les résultats doivent être présentés dans un dictionnaire nommé résultats_df.
- Créer un dictionnaire composé des résultats des deux points précédents.
- Redéfinir le nom des colonnes de la série (b) et du data frame (c) en le changeant par « numero_valeur » et appliquer une réindexation avec des nombres entiers dans l'intervalle $[0,10000]$ (utiliser un pas de 10 et inclure les bornes de l'intervalle). Les résultats doivent être affichés en utilisant un dictionnaire.

### `Exercice 2`

Construire un dictionnaire dict_res avec les consignes suivantes :

- Le dictionnaire doit être composé de trois couples clé-valeur nommés var_aleatoire, text_aleatoire et bol_aleatoire. La valeur correspondante à la clé var_aleatoire doit être une liste de 365 valeurs aléatoires comprises entre 10 et 20, tandis que les valeurs correspondantes aux clés text_aleatoire et bol_aleatoire doivent être respectivement une liste de 365 valeurs choisies aléatoirement à partir de la liste $a =['hot', 'warm', 'cool', 'cold', 'None']$, et une deuxième liste de la même taille composée des éléments choisis aléatoirement d'une liste boléenne $b = [True,False]$.
- Créer un data frame k à partir du dictionnaire construit ci-dessus en utilisant comme indices un ensemble de dates comprises entre le 01-01-2022 et le 31-12-2022.
- En utilisant la fonction plot de pandas, créer un graphique simple de var_aleatoire en fonction de la date. Afficher les résultats du data frame k et le graphique construit dans la même cellule de sortie (pour ce faire, importer la fonction display ainsi : `from IPython.display import display`).

### `Exercice 3`

Créer un tableau de données (data frame) df_earthquake à partir du fichier nommé <earthquakes.csv>. - Une fois le fichier chargé, répondre aux questions suivantes :

- Le data frame est-il vide ?
- Si le data frame n'est pas vide, quelles sont ses dimensions (nombre de lignes et de colonnes) ?
- Ensuite, extraire le label des colonnes ainsi que leurs types de données.
- Construire un data frame (q) composé de l'extraction du nombre de données manquantes et non manquantes par colonne. Changer les étiquettes des colonnes par « données_non_manquantes » et « données_manquantes ».
- À partir du data frame de données manquantes/non manquantes, extraire le top 6 des variables avec le plus de valeurs manquantes.
- Agréger tous les résultats précédents dans un dictionnaire.

### `Exercice 4`

En utilisant le data frame créé dans l'exercice précédent (**df_earthquake**), répondre aux questions suivantes :

- Changer le format de la variable time (le temps est initialement défini en millisecondes à partir de la date 1970-01-01T00:00:00.000Z) au format date (aaaa-mm-jj)
- Entre quelles dates ont été enregistrées les données ?
- Extraire les catégories des variables tsunami, magType, type et alert.
- Construire un tableau croisé (utiliser la fonction `groupby`) des variables type (celle-ci définit le type de tremblement) et tsunami (variable binaire déterminant si le tremblement est d'origine continentale ou non) qui montre les valeurs minimales, maximales, le nombre d'occurrences et la moyenne de la magnitude du tremblement (variable mag). Quelles conclusions peut-on tirer des valeurs obtenues ?
- Répliquer l'exercice précédent à l'aide de la fonction `pivot_table`.

## Opérations de regroupement, d'agregation et de pivotage

### `Exercice 5`

À partir du schéma simple stocké dans le fichier `wheater.db`, effectuer les opérations suivantes:

- À l'aide de la blibliothèque `sqlite3` charger les tableaux disponibles dans le fichier `wheater.db` en utilisant Pandas. Pour ce faire, il faudrait dans un premier temps, extraire les noms des tableaux dans le schéma relationnel du fichier `wheater.db`
- Joindre les tableaux du schéma relationnel, en utilisant les deux principales fonctionnalités disponibles en pandas (merge et join)

### `Exercice 6`

À partir du tableau joint (celui obtenu à partir de la fonction « Merge ») de l'exercice précédent, effectuez les opérations demandées et répondez aux questions suivantes.

- Déterminer le nombre de stations climatologiques enregistrées dans ce tableau.
- Générer un tableau de résultats regroupés par date, nom et type de donnée présentant les valeurs minimales, maximales et moyennes par groupe. Le regroupement par date doit se faire par mois. Pour ce faire, il est impératif de changer le format de la colonne date.
- Changer le format obtenu du format court au format long (pivotage) à l'aide de la fonction `melt`.
- À partir du long format obtenu, déterminer les 10 stations avec les valeurs moyennes les plus importantes enregistrées pendant le premier mois de l'année pour la catégorie SNOW.
- Déterminer les 35 valeurs de température les plus élevées enregistrées pendant l'année.
- Quelles sont les cinq stations météorologiques qui ont enregistré les températures les plus élevées ?
- Selon les valeurs de température enregistrées pour les stations météorologiques, quel a été le mois le plus chaud à New York en 2018 ?